* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #FFFFFF;
    color:#434343;
    font-family: 'roboto',sans-serif;
}


/* Header Section CSS Start From Here */

header{
    /* border: 2px solid red; */
    background-color: #FFFFFF;
}

/* Navbar CSS Start From Here */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    margin: 100px 100px 0px 100px;
    /* border: 2px solid red; */
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin:0 40px;
    font-weight: 500px;
    font-size: 24px;
    line-height: 28.64px;
    color:#434343;
}

nav ul li:hover{
    color : #1C51F7;
}


.navbar-left{
    /* border: 1px solid green; */
    height: 83px;
    width:465px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;  
}

.navbar-icon{
    /* border: 1px solid red; */
    height: 83px;
    width:145px;
}

.navbar-icon-text{
    /* border : 1px solid blue; */
    width:100%;
}

#navbar-icon-text1{
    margin-top:14px;
    /* margin-left:5px; */
    font-weight:700;
    font-size: 24px;
    line-height: 31.2px;
    color: linear-gradient(355.3deg, #000E65 -6.81%, #001CCB 69.23%);
}

#navbar-icon-text2{
    font-weight:400;
    font-size: 16px;
    line-height: 18.75.2px;
    color:#828282;
}

.navbar-right {
    border: 1px solid #FFFFFF;
}

.navbar-btn{
    /* border: 2px solid yellow; */
    height: 69px;
    width:270px;
    text-align: center;
    border-radius: 100px;
    border-color: linear-gradient(90deg, #828282 0%, #424242 100%);
    background-color: #0111AF;
    padding: 20px;
    font-size: 24px;
    font-weight: 700;
    color:#FFFFFF;
    line-height: 28.64px;
}

/* Nabbar CSS End Here */

/* Header Section CSS End Here*/




/* Main Section start from Here */

main{
    /* border:2px solid green; */
    background-color: #FFFFFF;
}




/* Section One CSS Start From Here */


.section-one{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section-one > div{
    /* border: 2px solid blue; */
    background-color: #FFFFFF;
}

.section-one-left{
    width:737px;
    height: 507px;
    margin-top:170px;
    /* border: 2px solid red; */
    gap: 50px;

}


.section-one-left-heading{
    font-size: 72px;
    font-weight: 700;
    color:#0D1067;
    line-height: 84.38px;
}

.section-one-left-subheading{
    font-size: 50px;
    font-weight: 500;
    line-height: 69.21px;
    color: #1C51F7;
    /* font-family: 'SF Pro Display'; */

}

.section-one-left-box{
    height: 144px;
    margin-top:20px;
    width: 505px;
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

}

.section-one-left-box > div{
    height: 144px;
    width:155px;
    border-right: 1px solid #ECECEC;
    /* border: 1px solid gray; */
}

.section-one-left-box > div > .boxName{
    text-align: center;
    display: block;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.64px;

}

.section-one-left-box > div > .boxImg{
    margin-left:52px;
    margin-top:10px;
    display: block;
    height: 48px;
    width: 48px;
    /* border: 2px solid red; */
    
}

.section-one-left-box > div > .boxCount{
    text-align: center;
    margin-top:10px;
    display: block;
    font-size: 36px;
    font-weight: 500;
    line-height: 42.96px;

}

.section-one-left-desc{
    margin-top:30px;
    font-size: 36px;
    font-weight: 500;
    line-height: 42.96px;
    color:#424242;
}


.section-one-left-details{
    margin-top:85px;
}


.section-one-left > div > p{
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.64px;
    /* border: 2px solid red; */
}

.section-one-left > div > .section-one-left-contact{
    margin-left:50px;
}

.section-one-right{
    width:866.59px;
    height: 742.26px;
}

/* Section One CSS End Here */





/* Section Two CSS Start From Here */

.section-two{
    height: 163px;
    width:100%;
    /* border: 2px solid red; */
    margin-top:30px;
}

.section-two-corousel{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.section-two-corousel > div{
    height: 163px;
    width:415px;
    border: 1px solid #000000;
    border-radius: 20px;
    margin-left: 50px;
}

.section-two-corousel > div > img{
    width: 340px;
    height: 103px;
    /* display: block; */
    margin-top:30px;
    margin-left:33px;
}

/* Section Two CSS End Here*/






/* Section Three CSS Start From Here */

.section-three{
    height: 1080px;
    width:100%;
    /* border: 2px solid red; */
}

.section-three > .section-three-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
}

.section-three-left{
    height: 581px;
    width: 877px;
    /* border: 2px solid green; */
    text-align: center;
    background-color: #353D54;
    border-radius: 0px 150px 0px 150px;
    margin-top:260px;
}

.section-three-left > img{
    margin-top: 40px;
}

.section-three-right{
    height: 800px;
    width: 877px;
    /* border: 2px solid blue; */
    margin-top:205px;
}

.section-three-right-heading{
    line-height: 42.96px;
    font-size: 36px;
    font-weight: 700;
    color: #434343;
}

.section-three-right-subheading{
   font-size: 64px;
   font-weight: 500;
   line-height: 76.38px;
   color:#1C51F7;
   margin-top:20px;
}

.section-three-right-desc1{
    font-weight: 400;
    font-size: 24px;
    line-height: 28.64px;
    justify-content: left;
    color: #434343;
    margin-top:50px;
}

.section-three-right-desc2{
    font-weight: 400;
    font-size: 24px;
    line-height: 28.64px;
    justify-content: left;
    color: #434343;
    /* margin-top:50px; */
}

.section-three-right > button{
    width:270px;
    height: 69px;
    padding: 20px 20px 20px 0;
    gap: 8px;
    border: 1px solid linear-gradient(90deg, #828282 0%, #424242 100%);
    background-color: #0111AF;
    border-radius: 100px;
    font-size: 24px;
    font-weight: 700;
    color:#ffffff;
    margin-left:300px;
    margin-top:100px;

}

/* Section Three CSS End Here */


/* Section Four CSS Start From Here */

.section-four{
    height: 1296px;
    /* border:2px solid red; */
}


.section-four-container1 > p{
    margin-top:49px;
    margin-left:108px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42.96px;
    color:#434343;
}

.section-four-container2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
   
}

.section-four-container2 > div{
    height: 76px;
    width:380px;
    /* border: 2px solid red; */
}

.section-four-courses{
    margin-left: 108px;
    margin-top:20px;
}

.section-four-courses > p{
    font-size: 64px;
    font-weight: 500;
    line-height: 76.38px;
    color:#1C51F7;
}

.section-four-btn{
    margin-right: 108px;
}

.section-four-btn > button{
    width:291px;
    height:69px;
    border-radius: 100px;
    /* border: 1px solid; */
    border-image-source: linear-gradient(90deg, #828282 0%, #424242 100%);
    font-size: 24px;
    font-weight: 700;
    line-height: 28.64px;
    background-color:#0111AF;
    color:#FFFFFF;
    float: right;
}


.section-four-container3{
    /* height: 700px; */
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 108px;
    margin-right: 108px;
    /* margin-top:30px; */
}


.section-four-container3 > div{
    border: 4px solid #1C51F7;
    border-radius: 35px;
    width:255px;
    height: 320px;
    background-image: url('./assests/container-background.png');
    margin-top:20px;
}


.course > .course-duration{
    width:127px;
    height: 40px;
    /* border: 1px solid red; */
    float: right;
    margin-top:23px;
    background-image: url(./assests/vector.png);
}

.course > .course-duration > p{
    font-size: 24px;
    font-weight: 500;
    line-height: 28.64px;
    text-align: center;
    color:#FFFFFF;
    margin-top:6px;
}

.course > .course-icon{
    width:64px;
    height: 64px;
    /* border: 1px solid orange; */
    margin-top:130px;
    margin-left:100px;
}

.course > .course-name{
    width:223px;
    height:40px;
    /* border: 2px solid purple; */
    margin-top:55px;
    margin-left:17px;
}

.course > .course-name > button{
    border-radius: 10px;
    width:223px;
    height:40px;
    /* border: 2px solid purple; */
    background-color: #1C51F7;
    color:#ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.48px;
    border: none;


}


